

/******************************************
    COLORS
******************************************/



/* Midnight Blue */
.blue-color-text{
    color: #001428;
}
.blue-bg{
    background-color: #001428;
}


/* Teal */
.teal-color-text{
    color: #00A99D;
}
.teal-bg{
    background-color: #00A99D;
}

/* Orange */

/* Black */

/* Dark Grey */

/* Light Grey */